{% extends 'health/layout.html' %}
{% block content %}
<div class='mt-3'>
    <h1>Calculate your running pace</h1>
    <p>
        Enter any two to calculate pace, time or distance
    </p>
    <form>
        <div class='form-group row'>
            <label for='time-hr' class='col-lg-2 col-form-label text-lg-center'>Time</label>
            <div class='col-4 col-lg-2 mb-3'>
                <input type='text' class='form-control' id='time-hr' placeholder='Hr'>
            </div>
            <div class='col-4 col-lg-2 mb-3'>
                <input type='text' class='form-control' id='time-min' placeholder='Min'>
            </div>
            <div class='col-4 col-lg-2 mb-3'>
                <input type='text' class='form-control' id='time-sec' placeholder='Sec'>
            </div>
        </div>
        <div class='form-group row'>
            <label for='distance' class='col-lg-2 col-form-label text-lg-center'>Distance</label>
            <div class='col-6 col-lg-2 mb-3'>
                <input type='text' class='form-control' id='distance'>
            </div>
            <div class='col-6 col-lg-2 mb-3'>
                <select class='form-control'>
                    <option selected>Miles</option>
                    <option>Kilometers</option>
                    <option>Meters</option>
                    <option>Yards</option>
                </select>
            </div>
        </div>
        <div class='form-group row'>
            <label for='pace-hr' class='col-lg-2 col-form-label text-lg-center'>Pace</label>
            <div class='col-4 col-lg-2 mb-3'>
                <input type='text' class='form-control' id='pace-hr' placeholder='Hr'>
            </div>
            <div class='col-4 col-lg-2 mb-3'>
                <input type='text' class='form-control' id='pace-min' placeholder='Min'>
            </div>
            <div class='col-4 col-lg-2 mb-3'>
                <input type='text' class='form-control' id='pace-sec' placeholder='Sec'>
            </div>
            <div class='col-12 col-lg-2 mb-3'>
                <select class='form-control'>
                    <option selected>per mile</option>
                    <option>per km</option>
                </select>
            </div>
        </div>
        <div class='row'>
            <div class='col-lg-2'></div>
            <div class='col-lg-5 col-7'>
                <button type='submit' class='btn btn-primary btn-block'>Calculate</button>
            </div>
            <div class='col-lg-3 col-5'>
                <button type='submit' class='btn btn-secondary btn-block'>Reset</button>
            </div>
            <div class='col-lg-2'></div>
        </div>
    </form>
</div>
{% endblock %}