* {
    font-family: 'Inter';
    color: #1A1A1A;
}

a, a:hover {
    text-decoration: none;
}

h4, h4 a {
    font-family: 'Merriweather';
    font-weight: 700;
}

.fa-get-pocket {
    color: #EF4056;
}
.fa-twitter {
    color: #00ACEE;
}
.fa-linkedin {
    color: #2867B2;
}