* {
    font-family: 'Merriweather';
    color: #1A1A1A;
}

a {
    text-decoration: none;
}

h4 {
    font-weight: 700;
}

p {
    margin-top: 0px;
}

.active {
    text-decoration: underline;
}

.fa-get-pocket {
    color: #EF4056;
}
.fa-twitter {
    color: #00ACEE;
}
.fa-linkedin {
    color: #2867B2;
}