{% extends 'covid/layout.html' %}
{% load humanize %}
{% load static %}

{% block content %}
    <div class='container'>
        <div class='row'>
            <div class='col-lg-6'>
                <small class='text-muted'>{{ first_case.date }}</small>
                <div class='card'>
                    <div class='card-body'>
                        <div class='row text-lg-center'>
                            <div class='col-lg-6'>
                                Cases
                                <h3>
                                    {{ first_case.confirmedcovidcases | intcomma }}
                                </h3>
                            </div>
                            <div class='col-lg-6'>
                                Deaths
                                <h3>
                                    {{ first_case.confirmedcoviddeaths | intcomma }}
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='col-lg-6'>
                <small class='text-muted'>{{ last_case.date }} - {{ first_case.date }}</small>
                <div class='card'>
                    <div class='card-body'>
                        <div class='row text-lg-center'>
                            <div class='col-lg-6'>
                                Cases
                                <h3>
                                    {{ first_case.totalconfirmedcovidcases | intcomma }}
                                </h3>
                            </div>
                            <div class='col-lg-6'>
                                Deaths
                                <h3>
                                    {{ first_case.totalcoviddeaths | intcomma }}
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='mt-3' id='cases-chart'></div>
        <div class='mt-3' id='deaths-chart'></div>
        <div class='mt-3' id='counties-chart'></div>
        <div class='row mb-3'>
            <div class='col-lg-6'>
                <div class='mt-3' id='gender-chart'></div>
            </div>
            <div class='col-lg-6'>
                <div class='mt-3' id='age-chart'></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://code.highcharts.com/maps/modules/map.js"></script>
    <script src="https://code.highcharts.com/mapdata/countries/ie/ie-all.js"></script>
    <script type='text/javascript'>
        var CASES = {{ cases | safe }};
        var DEATHS = {{ deaths | safe }};
        var GENDERS = {{ genders | safe }};
        var AGES = {{ ages | safe }};
        var COUNTY_NAMES = {{ counties.names | safe }};
        var COUNTY_CASES = {{ counties.cases | safe }};
        var PLOT_BANDS = [
            {
                from: Date.UTC(2020, 2, 28, 0, 0, 0),
                to: Date.UTC(2020, 4, 18, 0, 0, 0),
                color: '#DDD',
                label: {
                    text: 'First lockdown',
                    style: {
                        color: '#606060'
                    }
                }
            }, {
                from: Date.UTC(2020, 4, 18, 0, 0, 0),
                to: Date.UTC(2020, 5, 8, 0, 0, 0),
                color: '#EEE',
                label: {
                    text: 'Phase 1',
                    style: {
                        color: '#606060'
                    }
                }
            }, {
                from: Date.UTC(2020, 5, 8, 0, 0, 0),
                to: Date.UTC(2020, 5, 29, 0, 0, 0),
                color: '#DDD',
                label: {
                    text: 'Phase 2',
                    style: {
                        color: '#606060'
                    }
                }
            }, {
                from: Date.UTC(2020, 5, 29, 10, 0, 0),
                to: Date.UTC(2020, 8, 15, 0, 0, 0),
                color: '#EEE',
                label: {
                    text: 'Phase 3',
                    style: {
                        color: '#606060'
                    }
                }
            }, {
                from: Date.UTC(2020, 8, 15, 10, 0, 0),
                to: Date.UTC(2020, 9, 5, 0, 0, 0),
                color: '#DDD',
                label: {
                    text: 'Level 2',
                    style: {
                        color: '#606060'
                    }
                }
            }, {
                from: Date.UTC(2020, 9, 5, 0, 0, 0),
                to: Date.UTC(2020, 9, 21, 0, 0, 0),
                color: '#EEE',
                label: {
                    text: 'Level 3',
                    style: {
                        color: '#606060'
                    }
                }
            }, {
                from: Date.UTC(2020, 9, 21, 0, 0, 0),
                to: Date.UTC(2020, 11, 1, 0, 0, 0),
                color: '#DDD',
                label: {
                    text: 'Level 5',
                    style: {
                        color: '#606060'
                    }
                }
            }, {
                from: Date.UTC(2020, 11, 1, 0, 0, 0),
                to: Date.UTC(2020, 11, 24, 0, 0, 0),
                color: '#EEE',
                label: {
                    text: 'Level 3+',
                    style: {
                        color: '#606060'
                    }
                }
            }, {
                from: Date.UTC(2020, 11, 24, 0, 0, 0),
                to: Date.now(),
                color: '#DDD',
                label: {
                    text: 'Level 5+',
                    style: {
                        color: '#606060'
                    }
                }
            }
        ]
    </script>
    <script src="{% static 'js/cases/cases.js' %}" type='text/javascript'></script>
    <script src="{% static 'js/cases/deaths.js' %}" type='text/javascript'></script>
    <script src="{% static 'js/cases/genders.js' %}" type='text/javascript'></script> 
    <script src="{% static 'js/cases/ages.js' %}" type='text/javascript'></script> 
    <script src="{% static 'js/cases/counties.js' %}" type='text/javascript'></script>
{% endblock %}