<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <title>John Claro</title>
    <link rel='stylesheet' type='text/css' href="{% static 'css/bio.css' %}"/>
</head>
<body style='max-width: 768px'>
    <img alt='me.png' src="{% static 'img/me.png' %}" height='100' width='100' style='border-radius: 50%; margin-bottom: 10px;'>
    <h3>About</h3>
    <p>
        I was born in the Philippines and grew up in Ireland since I was 10 years old.
        I studied Applied Computing at <a href='https://www.wit.ie'>WIT</a>.
        After graduation, I worked as data engineer at <a href='https://www.distilledsch.ie'>Distilled SCH</a>.
    </p>
    <h3>Projects</h3>
    <ul style='margin-top: 0px;'>
        <li>
            <a href='{% url "covid:cases" %}'>Covid</a> - Data insights about Covid in Ireland
        </li>
        <li>
            <a href='https://github.com/johnclaro/etl'>ETL</a> - A command line tool to perform ETLs
        </li>
        <li>
            <a href='https://github.com/johnclaro/podplayer'>Podplayer</a> - Web-based podcast player
        </li>
        <li>
            <a href='https://github.com/johnclaro/favicon'>Favicon</a> - Convert an image to its favicon formats
        </li>
        <li>
            <a href='https://github.com/johnclaro/website'>Website</a> - Source code for this website
        </li>
        {% comment %} <li><a href='/covid'>Exam</a> - Exam maker using Java</li> {% endcomment %}
    </ul>
    <h3>Links</h3>
    <p>
        <a href='mailto:jkrclaro@gmail.com'>Email</a>,
        <a href='https://www.linkedin.com/in/johnclaro'>Linkedin</a>,
        <a href='https://www.twitter.com/johnclaro_'>Twitter</a>,
        <a href='https://github.com/johnclaro'>Github</a>,
        <a href='https://getpocket.com/@johnclaro'>Pocket</a>
    </p>
<!--    <p>Blog</p>-->
<!--    <ul>-->
<!--        <li><a href='#'>Deploy a Django-based application to AWS Lightsail</a></li>-->
<!--        <li><a href='#'>Building a CI/CD pipeline with Jenkins</a></li>-->
<!--    </ul>-->

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156985230-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-156985230-1');
    </script>
</body>
</html>