<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>John Claro</title>
    <link rel='stylesheet' type='text/css' href="{% static 'css/bio.css' %}"/>
</head>
<body style='max-width: 425px'>
    <img alt='me.png' src="{% static 'img/me.png' %}" height='100' width='100' style='border-radius: 50%; margin-bottom: 10px;'>
    <h3>About</h3>
    <p>
        I was born in the Philippines and grew up in Ireland since I was 10 years old.
        I studied Applied Computing at <a href='https://www.wit.ie'>WIT</a>.
        After graduation, I worked as data engineer at <a href='https://www.distilledsch.ie'>DistilledSCH</a>.
    </p>
    <h3>Links</h3>
    <p>
        <a href='mailto:jkrclaro@gmail.com'>Email</a>,
        <a href='https://www.linkedin.com/in/johnclaro'>Linkedin</a>,
        <a href='https://www.twitter.com/johnclaro_'>Twitter</a>,
        <a href='https://github.com/johnclaro'>Github</a>,
        <a href='https://getpocket.com/@johnclaro'>Pocket</a>
    </p>
    <h3>Projects</h3>
    <ul style='margin-top: 0px;'>
        <li>
            <a href='/covid'>Covid</a> - ETL for Covid datasets using Python
        </li>
    </ul>
<!--    <p>Blog</p>-->
<!--    <ul>-->
<!--        <li><a href='#'>Deploy a Django-based application to AWS Lightsail</a></li>-->
<!--        <li><a href='#'>Building a CI/CD pipeline with Jenkins</a></li>-->
<!--    </ul>-->
</body>
</html>