<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>John Claro</title>
    <link rel='stylesheet' type='text/css' href="{% static 'css/bio.css' %}"/>
</head>
<body style='max-width: 425px'>
    <img alt='me.png' src="{% static 'img/me.png' %}" height='100' width='100' style='border-radius: 50%;'>
    <p>
        I was born in the Philippines, grew up in Ireland and studied computer science at <a href='https://www.wit.ie'>Waterford Institute of Technology</a>.
        I worked as a data engineer for <a href='https://www.donedeal.ie'>DoneDeal</a> upon graduating.
    </p>
    <p>
        Contact me at my <a href='mailto:jkrclaro@gmail.com'>email</a>,
        <a href='https://www.linkedin.com/in/johnclaro'>linkedin</a>,
        <a href='https://www.twitter.com/johnclaro_'>twitter</a> or
        <a href='https://github.com/johnclaro'>github</a>.
    </p>
    <p>Projects</p>
    <ul>
        <li>Featured
            <ul>
                <li><a href="#">Analytix</a> - Something something something</li>
                <li><a href="#">Recommend</a> - Something something something</li>
            </ul>
        </li>
        <li>Others
            <ul>
                <li><a href="{% url 'pace:index' %}">Pace</a> - Running pace calculator</li>
                <li><a href="#">Password</a> - Generate strong passwords</li>
                <li><a href="#">Word</a> - Count words</li>
            </ul>
        </li>
    </ul>
    <p>Blog</p>
    <ul>
        <li><a href='#'>Deploy a Django-based application to AWS Lightsail</a></li>
    </ul>
</body>
</html>