* {
    font-family: 'Lora', serif;
}

ul li a {
    color: rgba(0,0,0,.54);
}
ul li a:hover {
    color: #111;
    text-decoration: none;
}

.nav a {
    color: rgba(0,0,0,.54);
    text-transform: uppercase;
}
.nav a:hover {
    color: #111;
    text-decoration: none;
}

#contacts a {
    color: #111;
}

.fab, .fas, .far {
    font-size: 24px !important;
}

