h1,h2,h3,h4,h5,h6 {
    color: #000;
    font-family: 'Lato', sans-serif;
}

h1,h2 {
    font-weight: 700;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 34px;
    letter-spacing: -0.7px;
}

h6 {
    font-size: 15px;
    letter-spacing: 0.8px;
}

p {
    font-family: 'Cormorant Garamond', serif;
    color: #000;
    font-size: 21px;
    letter-spacing: -0.1px;
}
p a {
    color: #000;
    text-decoration: underline !important;
}

a {
    color: #888;
}
a:hover {
    color: #000;
    text-decoration: none;
}

.active {
    color: #000;
}

mark {
    background-color: #E9FDF0;
}
mark:hover {
    background-color: #7DFFB3;
    cursor: pointer;
}

#essays span {
    color: #888;
}
#essays a {
    font-size: 18px;
    color: #000;
    font-weight: 700;
}