* {
    font-family: 'Lora', serif;
}

#home li a {
    color: rgba(0,0,0,.54);
    text-decoration: none;
    position: relative;
}
#home li a:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #111;
}

#books li a {
    color: rgba(0,0,0,.54);
}
#books li a:hover {
    color: #111;
    text-decoration: none;
}

.nav a {
    font-family: 'Montserrat';
    font-size: 12px;
    color: rgba(0,0,0,.54);
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.nav a:hover {
    color: #111;
}

#contacts a {
    color: #111;
}

.fab, .fas, .far {
    font-size: 24px !important;
}

